body{
    background-color: rgb(87, 87, 248);
    font: normal 15pt arial;
}
header{
    text-align: center;
    color: white;

}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 40%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);

    animation-name: aparecer;
    animation-duration: 1.5s;

}
#resultado{
    font: normal 30pt arial;
    text-align: center;

}
#iniciar{
    width: 100px;
    background-color:#FFC83D;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
}
#historico{
    width: 50px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
}


footer{
    text-align: center;
    color: white;
    font-style: italic;
}
.flipAnimation{
    animation-name: flip;
    animation-duration: .5s;
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes flip {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(360deg);
    }
}